<app-navigation></app-navigation>

<!-- <div class="slide s1">
    <h2>hola</h2>
    <p>
        hola holaaa
    </p>
    <button>click</button>

</div>

<div class="slide s2">
    <h2>hola</h2>
    <p>
        hola doooos
    </p>
    <button>botooon</button>
</div>

<div class="slide s3">
    <h2>hola</h2>
    <p>
        hola trees
    </p>
    <button>botooon 33</button>
</div>
<div class="botonDerecha">&gt;</div>
<div class="botonIzq">&lt;</div>

<ul class="paginacion">
<li></li>
<li></li>
<li></li>
</ul> -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="https://images.alphacoders.com/649/thumb-1920-649361.jpg" class="d-block " style="height: 537px; width: 100%;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="negro">NATATORIO</h5>
          <p class="negro">Reapertura de pileta libre para nuestros socios. Clases para todos los niveles, veni a probar gratis!</p>
          <button class="but">¡Inscribite!</button>
        </div>
        
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://images7.alphacoders.com/363/thumb-1920-363760.jpg" class="d-block " style="height: 537px; width: 100%;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>BASQUET</h5>
          <p>Sumate a los entrenamientos </p>
          <p>nuestro gran equipos de profesores te espera para darte la mejor experiencia en Basquet.</p>
          <button class="but">¡Inscribite!</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://images.alphacoders.com/692/thumb-1920-692037.jpg" class="d-block " style="height: 537px; width: 100%;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>GIMNASIO: Nuevos horarios.</h5>
          <p>Sumamos nuevos horarios para que nuestros socios disfruten comodamente de las instalaciones.</p>
          <button class="but">¡Inscribite!</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>