
h5{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke ;
    
}
p{
    font-size: 18px;
    color: whitesmoke ;
    font-family: sans-serif;
    font-weight: bold;
}
.but{
    background-color: yellow;
    padding: 5px 50px;
    border: initial;
    font-weight: bold;
}
.negro{
    color: black;
}

img.imagen{
    
  
    width:100%;
    align-content: center   ;
    display: contents;
}

app-footer{
    
   align-self: flex-end;
    width:100%;
    height:60px; 
}  
   
    
   /* @media(min-height: 750px){  app-footer{
      position: fixed;
      align-self: flex-end;
      
      
    }
   } */


   .cointainer-fluid {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .div-child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }
  


