<app-navigation></app-navigation>

<!-- <div class="slide s1">
    <h2>hola</h2>
    <p>
        hola holaaa
    </p>
    <button>click</button>

</div>

<div class="slide s2">
    <h2>hola</h2>
    <p>
        hola doooos
    </p>
    <button>botooon</button>
</div>

<div class="slide s3">
    <h2>hola</h2>
    <p>
        hola trees
    </p>
    <button>botooon 33</button>
</div>
<div class="botonDerecha">&gt;</div>
<div class="botonIzq">&lt;</div>

<ul class="paginacion">
<li></li>
<li></li>
<li></li>
</ul> -->
<!-- <div class="cointainer-fluid">
  
  <div id="div-child" >
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
<!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
<!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->

<!-- <div class="carousel-inner" id="prueba" style="width: 50%;">
      <div class="carousel-item active"  data-bs-interval="5000" >
        <img src="https://images.alphacoders.com/649/thumb-1920-649361.jpg" class="d-block imagen"  alt="hola lucho">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="negro">NATATORIO</h5>
          <p class="negro">Reapertura de pileta libre para nuestros socios. Clases para todos los niveles, veni a probar gratis!</p>
          <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
        </div>
        
      </div> -->
<!-- <div class="carousel-item" data-bs-interval="5000">
        <img src="https://images7.alphacoders.com/363/thumb-1920-363760.jpg" class="d-block  imagen"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>BASQUET</h5>
          <p>Sumate a los entrenamientos </p>
          <p>nuestro gran equipos de profesores te espera para darte la mejor experiencia en Basquet.</p>
          <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
        </div>
      </div> -->

<!-- <div class="carousel-item" data-bs-interval="5000">
        <img src="https://images.alphacoders.com/692/thumb-1920-692037.jpg" class="d-block imagen"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>GIMNASIO: Nuevos horarios.</h5>
          <p>Sumamos nuevos horarios para que nuestros socios disfruten comodamente de las instalaciones.</p>
          <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
        </div>
      </div>
    </div> -->

<!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
<!-- </div>
  </div>

  <div id="div-child" >
    <div class="col mb-4" *ngFor=" let comentario of comentarios">
      <div class="card" >
        <div class="card-body" style="background-color: rgb(132, 196, 147); color: rgb(0, 0, 0);">
        <h5 class="card-title">{{comentario.Titulo_Comentario}}</h5>
        <hr style="border: 1;">
        <p class="card-text">{{comentario.Descripcion_Comentario}}</p>
        <div class="card-footer"> -->
<!-- <p><small>{{comentario.fcreacion}}</small></p>
          <button *ngIf="id_Rol == '1'" class="btn btn-danger btn-block" (click)=eliminar(comentario)>Eliminar</button> -->
<!-- <div class="box">
            <div class="box-row">
            <div class="box-cell box1">
               <p><small>{{comentario.fcreacion}}</small></p>
            </div>
            <div class="box-cell box2">
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- </div> -->

<!-- <app-footer></app-footer> -->

<!-- <div class="container">
    <div class="box">
        <div class="box-row">
            <div class="box-cell box1">
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
<!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
<!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            
                <div class="carousel-inner" id="prueba" style="width: 50%;">
                  <div class="carousel-item active"  data-bs-interval="5000" >
                    <img src="https://images.alphacoders.com/649/thumb-1920-649361.jpg" class="d-block imagen"  alt="hola lucho">
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="negro">NATATORIO</h5>
                      <p class="negro">Reapertura de pileta libre para nuestros socios. Clases para todos los niveles, veni a probar gratis!</p>
                      <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
                    </div>
                    
                  </div> -->
<!-- <div class="carousel-item" data-bs-interval="5000">
                    <img src="https://images7.alphacoders.com/363/thumb-1920-363760.jpg" class="d-block  imagen"  alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>BASQUET</h5>
                      <p>Sumate a los entrenamientos </p>
                      <p>nuestro gran equipos de profesores te espera para darte la mejor experiencia en Basquet.</p>
                      <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
                    </div>
                  </div> -->

<!-- <div class="carousel-item" data-bs-interval="5000">
                    <img src="https://images.alphacoders.com/692/thumb-1920-692037.jpg" class="d-block imagen"  alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>GIMNASIO: Nuevos horarios.</h5>
                      <p>Sumamos nuevos horarios para que nuestros socios disfruten comodamente de las instalaciones.</p>
                      <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
                    </div>
                  </div>
                </div> -->

<!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button> -->
<!-- </div>
            </div>
            <div class="box-cell box2">
              <div class="col mb-4" *ngFor=" let comentario of comentarios">
                <div class="card" >
                  <div class="card-body" style="background-color: rgb(132, 196, 147); color: rgb(0, 0, 0);">
                  <h5 class="card-title">{{comentario.Titulo_Comentario}}</h5>
                  <hr style="border: 1;">
                  <p class="card-text">{{comentario.Descripcion_Comentario}}</p>
                  <div class="card-footer"> -->
<!-- <p><small>{{comentario.fcreacion}}</small></p>
                    <button *ngIf="id_Rol == '1'" class="btn btn-danger btn-block" (click)=eliminar(comentario)>Eliminar</button> -->
<!-- <div class="box">
                      <div class="box-row">
                      <div class="box-cell box1">
                         <p><small>{{comentario.fcreacion}}</small></p>
                      </div>
                      <div class="box-cell box2">
                      </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> 
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> 
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      <div class="carousel-inner" id="prueba" style="width: 50%; height: 337px; object-fit: fill;">
        <div class="carousel-item active"  data-bs-interval="5000" >
          <img src="https://images.alphacoders.com/649/thumb-1920-649361.jpg" class="d-block imagen"  alt="hola lucho">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="negro">NATATORIO</h5>
            <p class="negro">Reapertura de pileta libre para nuestros socios. Clases para todos los niveles, veni a probar gratis!</p>
            <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000" >
          <img src="https://images7.alphacoders.com/363/thumb-1920-363760.jpg" class="d-block  imagen"  alt="..." style="width: 100%; height: 50%; object-fit: fill;">
          <div class="carousel-caption d-none d-md-block">
            <h5>BASQUET</h5>
            <p>Sumate a los entrenamientos </p>
            <p>nuestro gran equipos de profesores te espera para darte la mejor experiencia en Basquet.</p>
            <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
          </div>
        </div> -->

<!-- <div class="carousel-item" data-bs-interval="5000">
          <img src="https://images.alphacoders.com/692/thumb-1920-692037.jpg" class="d-block imagen"  alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>GIMNASIO: Nuevos horarios.</h5>
            <p>Sumamos nuevos horarios para que nuestros socios disfruten comodamente de las instalaciones.</p>
            <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
          </div>
        </div>
      </div> -->
<!-- </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div> -->




<div class="row" style="--bs-gutter-x: 0rem;">
  <div class="col-sm-9" style="width: 100%;">

    <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> 
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> 
      </div>
    </div> -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner" id="prueba">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="../../../../assets/img/natacion_editadA.jpg" class="d-block imagen" alt="hola lucho">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="negro">NATATORIO</h5>
            <p class="negro">Reapertura de pileta libre para nuestros socios. Clases para todos los niveles, veni a
              probar gratis!</p>
            <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../../assets/img/basquet_lista.jpg" class="d-block  imagen" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="blanco">BASQUET</h5>
            <p class="blancoMed">¡ Sumate a los entrenamientos ! </p>
            <p class="blanco">Nuestro gran equipos de profesores te espera para darte la mejor experiencia en Basquet.</p>
            <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../../assets/img/gim_editada.jpg" class="d-block imagen"  alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="blanco">GIMNASIO</h5>
            <p class="blancoMed">Nuevos Horarios:</p>
            <p class="blanco">Sumamos nuevos horarios para que nuestros socios disfruten comodamente de las instalaciones.</p>
            <button class="but" routerLink="../../socio/calendar">¡Inscribite!</button>
          </div>
        </div>
      
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> 

      </div>
    </div>
    <H1 style="margin-left: 35%; font-weight: bold; text-decoration: underline;">ULTIMAS NOVEDADES</H1>
    <div class="row" style="margin-top: 2%; --bs-gutter-x: 0rem; ">
      
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" *ngFor=" let comentario of comentarios">
          <div class="card" style=" border-radius: 25px;">
            <div class="card-header"
              style="background-color: rgb(44, 94, 56); border-radius: 25px 25px 0px 0px; color: whitesmoke;">
              <h3 class="card-title" style="color: whitesmoke;">{{comentario.Titulo_Comentario}}</h3>
            </div>
            <div class="card-body" style="color: black;">
              <p class="card-text" style="color: black;">{{comentario.Descripcion_Comentario}}</p>
              <div class="card-footer">
                <div class="box">
                  <div class="box-row">
                    <div class="box-cell box1">
                      <p style="color: black;"><small>{{comentario.fcreacion}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>