<app-navigation></app-navigation>


<!-- <div class="col mb-4" style="padding: 3%; margin-left: 25%;">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4" *ngIf="comentarios.length > 0; else fila">
        <div *ngFor=" let comentario of comentarios" class="card" style="margin-bottom: 3%;">
          <img src={{comentario.Imagen_Comentario}} alt="" class="card-img-top" style="margin-left: 40%;">
          <hr class="solid">
          <div class="card-body">
            <h5 class="card-title" style="margin-left: 40%;">{{comentario.titulo}}</h5>
            <p class="card-text"   [innerHTML]="comentario.Descripcion_Comentario">{{comentario.descripcion}}</p>
            
            <p class="card-text" >{{comentario.id}}</p>
            <hr class="solid">
            <p class="card-text"><small class="text-muted">Usuario: {{comentario.Numero_Usuario}} , Fecha Creacion:
                {{comentario.fcreacion}} </small></p>
          </div>
        </div>
      </div>
      <ng-template #fila>
        <tbody>
          <tr>
            <td style="color: white;" colspan="4">No hay filas para mostrar</td>
          </tr>
        </tbody>
      </ng-template>
    </div>
  </div> -->
<!-- <div class="container-fluid">
    
  <div class="row row-cols-1 row-cols-md-3" style="margin-top: 3%;">
    <div class="col mb-4" *ngFor=" let comentario of comentarios">
      <div class="card" >
        <div class="card-body" style="background-color: grey; color: rgb(255, 255, 255);">
          <h5 class="card-title">{{comentario.Titulo_Comentario}}</h5>
          <hr style="border: 1;">
          <p class="card-text">{{comentario.Descripcion_Comentario}}</p>
          <div class="card-footer">

            <div class="box">
            <div class="box-row">
              <div class="box-cell box1">
                 <p><small>{{comentario.fcreacion}}</small></p>
              </div>
              <div class="box-cell box2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->

<div class="container-fluid" style="margin-top: 2%;">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor=" let comentario of comentarios">
      <div class="card" style=" border-radius: 25px;">
        <div class="card-header"
          style="background-color: rgb(44, 94, 56); border-radius: 25px 25px 0px 0px; color: whitesmoke;">
          <h3 class="card-title">{{comentario.Titulo_Comentario}}</h3>
        </div>
        <div class="card-body" style="color: black;">
          <p class="card-text">{{comentario.Descripcion_Comentario}}</p>
          <div class="card-footer">
            <div class="box">
              <div class="box-row">
                <div class="box-cell box1">
                  <p><small>{{comentario.fcreacion}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form>
  <div id="divForm" class ="form-group mb-2">
      <div class = "input-group">
          <div class= "input-group-text bg-white">
              <i class="fas fa-search"></i>
              <input  class="form-control" placeholder="Nombre o Apellido"[(ngModel)]="filterPost" name="filterpost" >
          </div> 
      </div>
  </div>
</form>

<div *ngIf="(usuarios | filtro:filterPost:page).length === 0" class="card-body">
  <h3>No Se Encuentran más resultados</h3>
   
</div>

<button class="btn btn-primary" (click)="prevPage()">Anterior</button>
&nbsp;
<button class="btn btn-primary" (click)="nextPage()" [disabled]="(usuarios | filtro:filterPost:page).length === 0">Siguiente</button> -->

<app-footer></app-footer>