<app-navigation></app-navigation>

<div class="container">
    <div class="table-responsive-md">
    <table class="table table-success table-bordered border-dark" >

        <thead>
            <th>Clase</th>
            <th>Comienzo</th>
            <th>Finalizacion</th>
            <th>Dias</th>
        </thead>

        <tbody *ngIf="actividades.length > 0; else fila">
            <tr *ngFor=" let actividad of actividades">
                <td>{{actividad.Descripcion_Actividad}}</td>
                <td>{{actividad.Comienzo_Horario}}</td>
                <td>{{actividad.Finalizacion_Horario}}</td>
                <td>{{actividad.Id_Dias}}</td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="4">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
</div>
</div>

<app-footer></app-footer>