<app-navigation></app-navigation>

<div class="container">
    <div class="table-responsive-md">
    <table class="table table-success table-hover" >

        <thead>
            <th>Clase</th>
            <th>Comienzo</th>
            <th>Finalizacion</th>
            <th>Dias</th>
            <th>Accion</th>
        </thead>

        <tbody *ngIf="actividades.length > 0; else fila">
            <tr *ngFor=" let actividad of actividades">
                <td>{{actividad.Descripcion_Actividad}}</td>
                <td>{{actividad.Comienzo_Horario}}:00 Hs</td>
                <td>{{actividad.Finalizacion_Horario}}:00 Hs</td>
                <td>{{actividad.Dias}}</td>
                <td>
                    <button class="btn btn-danger" id="btnEli" (click)='eliminarClase(actividad.Id_Clase)'> Eliminar </button>
                </td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="5">No esta inscripto a una clase</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
</div>
</div>

<app-footer></app-footer>