.title {
    text-align: center;
    color: bisque;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    border-radius: 10PX;
    background-color: beige;
    width: 80%;
    margin: auto;
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  #btnLogin {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 0%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 5px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
      
    }
    /* .cancelbtn {
      width: 100%;
    } */
  }

  a{
      color: blue;
       font-weight: bold;
       cursor: pointer;
  }

  

/* .container-container {
    width:40%; 
    height:300px; 
    background:white; 
    margin: auto; 
    border: 20px solid white; 
    box-shadow: 0 15px 40px rgba(0,0,0,.5); 
    margin-top: 150px;

}

.container-left {
    float: left; 
    background-repeat: no-repeat; 
    background-size:cover; 
    box-sizing:border-box; 
    width: 40%; 
    height:60%; 
}

h1 {
    margin:0; 
    padding:0; 
    color:white;
    
}

.container-right {
    float: right; 
    width: 50%; 
    height:400px; 
    box-sizing: border-box;
    margin-top: 0px;
    
}

.form-box {
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
    height: 400px;

}

p{
    margin-bottom:20px; 
    padding:0; 
    font-weight:bold; 
    color:rgb(11, 65, 11);
}

input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid rgb(11, 65, 11);
}

input [type=submit] {
    border:none; 
    outline:none; 
    height:40px; 
    color:rgb(11, 65, 11); 
    cursor:pointer;
}

button{
    background-color: #29812c  ;
    border: none;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;

}

button:hover{
    background-color: darkgreen;
}

img {
    width: 100%;
} */
