<div class="container-page">
    <div class="title" >
        <h1 style="margin-top: 20px; font-style: oblique;" >Bienvenido al Club Ferro Carril Oeste</h1>
    </div>
</div>

<div class="container">

  <form (submit)="ingresar()" method="post">
    <div class="imgcontainer">
      <img src="https://escudosdeclubes.files.wordpress.com/2017/12/club-ferro-carril-oeste-caba-01.png?w=700&h=700" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><i class="fas fa-user-astronaut" style="margin: 5px;"></i><b>Numero de Usuario</b></label>
      <input type="text" name="usuario" [(ngModel)]="user.Numero_Usuario" autofocus>
  
      <label for="psw"><i class="fas fa-key" style="margin: 5px;"></i><b>Password</b></label>
      <input type="password" name="password"  [(ngModel)]="user.Password_Usuario" >
  
      <button id="btnLogin" type="submit">Ingresar</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <span class="psw"> <a style="color: whitesmoke;" data-bs-toggle="modal" data-bs-target="#modalPass">¿Olvidaste Tu Contraseña?</a></span>
    </div>
  </form>

  <div *ngIf="reintentar" class="alert alert-danger" role="alert">
    {{mensaje}}
  </div>

</div>

<!-- ESTE ES EL MODAL  DE OLVIDAR CLAVE -->

<div class="modal" id="modalPass" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">¿Olvidaste tu contraseña?</h5>
          
        </div>
        <div class="modal-body">
          <p>Para poder recuperar tu contraseña por favor enviar un mail al administrador de la pagina con tu numero de usuario y numero de DNI.</p>
          <BR>
            <a href="mailto:administrador@mail.com">Contacto: administrador@mail.com</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
          
        </div>
      </div>
    </div>
  </div>


