/* para que los campos number no tengan la flechita y se pueda completar el campo */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}    


app-footer{
 
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
  
}

@media(min-height: 750px){
  app-footer{
    position: static;
    align-self: flex-end;
    bottom:0;
  }
}
  