<app-navigation></app-navigation>

<div class="container-fluid">
    <form>
        <div id="divForm" class ="form-group mb-2">
            <div class = "input-group">
                <div class= "input-group-text bg-white">
                    <i class="fas fa-search"></i>
                    <input  class="form-control" placeholder="Nombre o Apellido"[(ngModel)]="filterPost" name="filterpost" >
                </div> 
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" id="butAgr">
        Nuevo Socio
    </button>

    <table id="tableprincipal" class="table table-success table-hover">
        <thead >
            <th id="thprincipal">Numero</th>
            <th id="thprincipal">Nombre</th>
            <th id="thprincipal">Apellido</th>
            <th id="thprincipal">DNI</th>
            <!-- <th>Mail</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Fecha Creacion</th>
            <th>Password</th>
            <th>Rol</th> -->
            <th id="thprincipal">Estado</th>
            <th> Acciones</th>
        </thead>
        <tbody *ngIf="usuarios.length > 0; else fila">
            <tr *ngFor=" let usuario of usuarios | filtro:filterPost:page ">
                <td>{{usuario.Numero_Usuario}}</td>
                <td>{{usuario.Nombre_Usuario}}</td>
                <td>{{usuario.Apellido_Usuario}}</td>
                <td>{{usuario.DNI_Usuario}}</td>
                <!-- <td>{{usuario.Mail_Usuario}}</td>
                <td>{{usuario.Telefono_Usuario}}</td>
                <td >{{usuario.Direccion_Usuario}}</td>
                <td>{{usuario.FechaCreacion_Usuario}}</td>
                <td>{{usuario.Password_Usuario}}</td>
                <td>Socio</td> -->
                <td>{{usuario.Descripcion_Estado}}</td>
                <td>
                    <button class="btn btn-info" id="butMod" data-bs-toggle="modal" data-bs-target="#modModal" (click)="buscarArray(usuario.Numero_Usuario)"> Ver mas informacion - Modificar </button>
                    <!-- <button class="btn btn-info" id="butMod"  (click)="modificarUser(usuario)"> Modificar </button> -->
                    <button class="btn btn-warning" id="butMod" data-bs-toggle="modal" data-bs-target="#claseModal" (click)="buscarClase(usuario.Numero_Usuario)"> Clase </button>
                    <button class="btn btn-danger" id="butMod" (click)="eliminarUser(usuario.Numero_Usuario)"> Eliminar </button>
                </td>
            </tr>
        </tbody>
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="4">No hay Socios</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    
    <div *ngIf="(usuarios | filtro:filterPost:page).length === 0" class="card-body">
        <h3>No Se Encuentran más resultados</h3>
         
    </div>

    <button class="btn btn-primary boton1" (click)="prevPage()">Anterior</button>
    &nbsp;
    <button class="btn btn-primary  boton1" (click)="nextPage()" [disabled]="(usuarios | filtro:filterPost:page).length === 0">Siguiente</button>

</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Socio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div *ngIf="!reintentar">
                    <div class="container">
                        <form (submit)=registrar()>
                            <input type="text" name="Numero_Usuario" [(ngModel)]="user.Numero_Usuario" placeholder="Numero Socio" id="modalinput"
                                class="form-control" autofocus>
                            <div [ngSwitch]=" errorNumUs" >
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Numero de usuario muy largo</div>
                                <div *ngSwitchCase="3">El formato del usuario SOCIO debe comenzar con la letra S y finalizar con 5
                                    numeros
                                    max.
                                    EJ: S00001 .</div>
                            </div>
                            <input type="text" name="Nombre_Usuario" [(ngModel)]="user.Nombre_Usuario" placeholder="Nombre" id="modalinput"
                                class="form-control">
                            <div [ngSwitch]="errorNombre">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Nombre muy largo</div>
                                <div *ngSwitchCase="3">Nombre debe ser alfabetico</div>
                            </div>
                            <input type="text" name="Apellido_Usuario"  [(ngModel)]="user.Apellido_Usuario" placeholder="Apellido" id="modalinput"
                                class="form-control">
                            <div   [ngSwitch]="errorApellido">
                                <div *ngSwitchCase="1" >Debes completar el campo</div>
                                <div *ngSwitchCase="2">Apellido muy largo</div>
                                <div *ngSwitchCase="3">Apellido  debe ser alfabetico</div>
                            </div>
                            <input type="text" name="DNI_Usuario" [(ngModel)]="user.DNI_Usuario" placeholder="DNI" class="form-control" id="modalinput">
                            <div [ngSwitch]="errorDNI">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">DNI muy largo</div>
                                <div *ngSwitchCase="3">DNI muy corto. Debe ser mayor a 1000000</div>
                                <div *ngSwitchCase="4">DNI debe ser Numerico</div>
                            </div>
                            <input type="text" name="Mail_Usuario" [(ngModel)]="user.Mail_Usuario" placeholder="Mail" id="modalinput"
                                class="form-control">
                            <div [ngSwitch]="errorMail">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Email muy largo</div>
                                <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
                            </div>
                            <input type="text" name="Telefono_Usuario" [(ngModel)]="user.Telefono_Usuario" placeholder="Telefono" id="modalinput"
                                class="form-control">
                            <div [ngSwitch]="errorTel">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Telefono muy largo</div>
                                <div *ngSwitchCase="3">Telefono muy corto</div>
                                <div *ngSwitchCase="4">El telefono debe ser Numerico. Ej: 1199887766 </div>
                            </div>
                            <input type="text" name="Direccion_Usuario" [(ngModel)]="user.Direccion_Usuario" placeholder="Direccion" id="modalinput"
                                class="form-control">
                            <div [ngSwitch]="errorDirec">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">La direccion es muy larga</div>
                                <div *ngSwitchCase="3">La direccion debe ser formato nombre calle - altura. Ej: Calle falsa 123.</div>
                            </div>
                            <input type="password" name="Password_Usuario" [(ngModel)]="user.Password_Usuario" placeholder="Password" id="modalinput"
                                class="form-control">
                            <div [ngSwitch]="errorPassword">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Contraseña muy larga</div>
                                <div *ngSwitchCase="3">Contraseña debe ser alfanumerica y admite mayusculas.</div>
                            </div>
                
                            <input type="hidden" name="Id_Rol" [(ngModel)]="user.Id_Rol" value="2" class="form-control">
                            <input type="hidden" name="Id_Estado" [(ngModel)]="user.Id_Estado" value="1" class="form-control">
                            <button class="btn btn-success btn-block" (click)="verificarForm()" data-bs-dismiss="modal" id="btnmodal">Crear Socio</button>
                        </form>
                    </div>
                </div>
                <div *ngIf="reintentar" class="card-body">
                    {{mensaje}} <br>
                    <button class="btn btn-info" (click)=recargarForm()>Reintentar</button>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn-guardar" data-bs-dismiss="modal">Crear</button>
            </div> -->
        </div>
    </div>
</div>



<!-- -------------------------------------MODAL INFORMACION SOCIO--------------------------------------------------------- -->

<div class="modal fade" id="modModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informacion del Socio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="!reintentar">
                    <div class="container">
                        <form (submit)="modificarUser(usuariosfilter)" >
                            <input type="text" name="Numero_Usuario" [(ngModel)]="usuariosfilter.Numero_Usuario" id="modalinput"
                                class="form-control" autofocus readonly>

                            <input type="text" name="Nombre_Usuario" [(ngModel)]="usuariosfilter.Nombre_Usuario" id="modalinput"
                                class="form-control">
                                <div [ngSwitch]="errorNombre">
                                    <div *ngSwitchCase="1">Debes completar el campo</div>
                                    <div *ngSwitchCase="2">Nombre muy largo</div>
                                    <div *ngSwitchCase="3">Nombre debe ser alfabetico</div>
                                </div>

                            <input type="text" name="Apellido_Usuario"  [(ngModel)]="usuariosfilter.Apellido_Usuario" id="modalinput"
                                class="form-control">
                                <div   [ngSwitch]="errorApellido">
                                    <div *ngSwitchCase="1" >Debes completar el campo</div>
                                    <div *ngSwitchCase="2">Apellido muy largo</div>
                                    <div *ngSwitchCase="3">Apellido  debe ser alfabetico</div>
                                </div>

                            <input type="text" name="DNI_Usuario" [(ngModel)]="usuariosfilter.DNI_Usuario"  id="modalinput"
                                 class="form-control">
                                 <div [ngSwitch]="errorDNI">
                                    <div *ngSwitchCase="1">Debes completar el campo</div>
                                    <div *ngSwitchCase="2">DNI muy largo</div>
                                    <div *ngSwitchCase="3">DNI muy corto. Debe ser mayor a 1000000</div>
                                    <div *ngSwitchCase="4">DNI debe ser Numerico</div>
                                </div>

                            <input type="text" name="Mail_Usuario" [(ngModel)]="usuariosfilter.Mail_Usuario" id="modalinput"
                                class="form-control">
                                <div [ngSwitch]="errorMail">
                                    <div *ngSwitchCase="1">Debes completar el campo</div>
                                    <div *ngSwitchCase="2">Email muy largo</div>
                                    <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
                                </div>

                            <input type="text" name="Telefono_Usuario" [(ngModel)]="usuariosfilter.Telefono_Usuario" id="modalinput"
                                class="form-control">
                                <div [ngSwitch]="errorTel">
                                    <div *ngSwitchCase="1">Debes completar el campo</div>
                                    <div *ngSwitchCase="2">Telefono muy largo</div>
                                    <div *ngSwitchCase="3">Telefono muy corto</div>
                                    <div *ngSwitchCase="4">El telefono debe ser Numerico. Ej: 1199887766 </div>
                                </div>

                            <input type="text" name="Direccion_Usuario" [(ngModel)]="usuariosfilter.Direccion_Usuario" id="modalinput"
                                class="form-control">
                                <div [ngSwitch]="errorDirec">
                                    <div *ngSwitchCase="1">Debes completar el campo</div>
                                    <div *ngSwitchCase="2">La direccion es muy larga</div>
                                    <div *ngSwitchCase="3">La direccion debe ser formato nombre calle - altura. Ej: Calle falsa 123.</div>
                                </div>

                            <input type="password" name="Password_Usuario" [(ngModel)]="usuariosfilter.Password_Usuario" id="modalinput"
                                class="form-control">
                                <div [ngSwitch]="errorPassword">
                                    <div *ngSwitchCase="1">Debes completar el campo</div>
                                    <div *ngSwitchCase="2">Contraseña muy larga</div>
                                    <div *ngSwitchCase="3">Contraseña debe ser alfanumerica y admite mayusculas.</div>
                                </div>
                
                            <input type="hidden" name="Id_Rol" [(ngModel)]="usuariosfilter.Id_Rol" value="2" class="form-control">
                            <!-- <input type="hidden" name="Id_Estado" [(ngModel)]="usuariosfilter.Id_Estado" value="1"  class="form-control"> -->
                            <div  class="box-cell box2" style="margin-bottom: 2%;">
                                <select class="form-control" name="Id_Estado" [(ngModel)]="usuariosfilter.Id_Estado">
                                  <option *ngFor=" let estado of estados" [value]="estado.Id_Estado">
                                    {{estado.Descripcion_Estado}}
                                  </option>
                                </select>
                            </div>
                            <button class="btn btn-success btn-block" (click)="verificarModificarForm()" data-bs-dismiss="modal" id="btnmodal">Modifcar Socio</button>
                        </form>
                    </div>
                </div>
                <div *ngIf="reintentar" class="card-body">
                    {{mensaje}} <br>
                    <button class="btn btn-info" (click)=recargarForm()>Reintentar</button>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn-guardar" data-bs-dismiss="modal">Crear</button>
            </div> -->
        </div>
    </div>
</div>


<!-- -------------------------------------MODAL CLASE SOCIO--------------------------------------------------------- -->

<div class="modal fade" id="claseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" id="modalclass">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Clases del Socio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-success table-hover">
                    <thead >
                        <th>Clase</th>
                        <th>Actividad</th>
                        <th>Comienzo</th>
                        <th>Finalizcion</th>
                        <th>Instructor</th>
                        <th>Dias</th>
                        <th>Accion</th>
                    </thead>
                    <tbody *ngIf="clasesSocio.length > 0; else filas">
                        <tr *ngFor=" let claseSocio of clasesSocio">
                            <td>{{claseSocio.Id_Clase}}</td>
                            <td>{{claseSocio.Descripcion_Actividad}}</td>
                            <td>{{claseSocio.Comienzo_Horario}}:00 HS</td>
                            <td>{{claseSocio.Finalizacion_Horario}}:00 HS</td>
                            <td>{{claseSocio.Nombre_Usuario}} {{claseSocio.Apellido_Usuario}} </td>
                            <td>{{claseSocio.Dias}}</td>
                            <td>
                                <button class="btn btn-danger btn-block" (click)="eliminarClaseUser(claseSocio.Socio, claseSocio.Id_Clase)" data-bs-dismiss="modal">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #filas>
                        <tbody>
                            <tr>
                                <td colspan="7"> No esta inscripto a ninguna clase</td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>