table {
    
   border: 2px solid #000;
}
thead{
    width: 100%;
    background-color: cadetblue;
}
thead, tbody {
   width: 100%;
   text-align: left;
   vertical-align: top;
   border: 2px solid #000;
   border-spacing: 0;
}
h4{
    margin: 10px;
    color: whitesmoke;
}

input{
    margin: 3px;
    border: black;
    border-width: 2px;
    border-style: solid;
    
}
#but{
   background-color: lightslategrey  ;
   border: none;
   color: white;
   padding: 12px 32px;
   text-decoration: none;
   
   border-radius: 4px;
   cursor: pointer;
   margin: 10px;
   
}

#butAgr{
   margin: 10px;
}

#butEli{
   margin: 3px;
}

#butMod{
   margin: 3px;
}

#but:hover{
   background-color: goldenrod;
}

.btn-info:hover{
   background-color: blue;
}

#btnEli:hover{
   background-color: darkred;
}

.input{
   width: 100px;
}

div.modal-header{
   background-color: rgb(33, 46, 46);
   color: floralwhite;
}