<app-navigation></app-navigation>

<form action="#" method="POST">
    <div>
        <h4>Filtros</h4>
        <input type="text" placeholder="Numero Admin">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="number" placeholder="DNI">
        <br>
        <br>
        <button id="but">Filtrar</button>
    </div>
</form>

<br>
<br>

<table class="table table-success table-striped table-hover table-sm">
    <thead >
        <th>Numero</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Mail</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Fecha Creacion</th>
        <th>Password</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>
    </thead>
    <tbody *ngIf="usuarios.length > 0; else fila">
        <tr *ngFor=" let usuario of usuarios">
            <td><input type="text" name="Numero_Usuario" [(ngModel)]="usuario.Numero_Usuario"></td>
            <td><input type="text" name="Nombre_Usuario" [(ngModel)]="usuario.Nombre_Usuario"></td>
            <td><input type="text" name="Apellido_Usuario" [(ngModel)]="usuario.Apellido_Usuario"></td>
            <td><input type="number" name="DNI_Usuario" [(ngModel)]="usuario.DNI_Usuario"></td>
            <td><input type="email" name="Mail_Usuario" [(ngModel)]="usuario.Mail_Usuario"></td>
            <td><input type="number" name="Telefono_Usuario" [(ngModel)]="usuario.Telefono_Usuario"></td>
            <td><input type="text" name="Direccion_Usuario" [(ngModel)]="usuario.Direccion_Usuario"></td>
            <td>{{usuario.FechaCreacion_Usuario}}</td>
            <td>{{usuario.Password_Usuario}}</td>
            <td>{{usuario.Descripcion_Rol}}</td>
            <td>{{usuario.Descripcion_Estado}}</td>
            <td>
                <button class="btn btn-info" id="btnMod" (click)="modificarUser(usuario)"> Modificar </button>
                <button class="btn btn-danger" id="btnEli" (click)="eliminarUser(usuario.Numero_Usuario)"> Eliminar </button>
            </td>
        </tr>
    </tbody>
    <ng-template #fila>
        <tbody>
            <tr>
                <td colspan="4">No hay mas filas</td>
            </tr>
        </tbody>
    </ng-template>
</table>
