thead{
   background-color: cadetblue;
}

div.modal-header {
   background-color: rgb(33, 46, 46);
   color: floralwhite;
}

/* input, select {
   margin: 3px;
   border: black;
   border-width: 2px;
   border-style: solid;
} */

label.titulo {
   font-weight: bold;
   text-decoration: underline;
}

label.custom-control-label {
   text-decoration: none;
}

.boton{
   margin-top: 8px;
   width: 25%;
}

button#butAgr {
   width: 100%;
   margin-bottom: 1%;
}

div#divForm {
   margin-top: 1%;

}

button#butMod {
   width: 100%;
}

th#thprincipal {
   width: 16%;
}


table#tableprincipal {
   text-align: center;
}

input#modalinput {
   margin-bottom: 2%;
}

button#btnmodal {
   width: 100%;
}

button.boton1{
   margin-bottom: 10px;
}