<app-navigation></app-navigation>

<form action="#" method="POST">
    <div>
        <h4>Filtros</h4>
        <input type="text" placeholder="Numero Admin">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="number" placeholder="DNI">
        <br>
        <br>
        <button id="but">Filtrar</button>
    </div>
</form>
<br>
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" id="butAgr">
    Nuevo Admin
</button>

<br>
<br>
<div class="table-responsive">
<table style="width: 100%;" class="table table-success table-striped table-hover table-sm">
    <thead >
        <th >Numero</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Mail</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <!-- <th>Fecha Creacion</th> -->
        <th>Password</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>
    </thead>
    <tbody *ngIf="usuarios.length > 0; else fila">
        <tr *ngFor=" let usuario of usuarios">
            <td ><input class="input" type="text" name="Numero_Usuario" [(ngModel)]="usuario.Numero_Usuario"></td>
            <td><input class="input"  type="text" name="Nombre_Usuario" [(ngModel)]="usuario.Nombre_Usuario"></td>
            <td><input class="input" type="text" name="Apellido_Usuario" [(ngModel)]="usuario.Apellido_Usuario"></td>
            <td><input class="input" type="number" name="DNI_Usuario" [(ngModel)]="usuario.DNI_Usuario"></td>
            <td><input class="input" type="email" name="Mail_Usuario" [(ngModel)]="usuario.Mail_Usuario"></td>
            <td><input class="input" type="number" name="Telefono_Usuario" [(ngModel)]="usuario.Telefono_Usuario"></td>
            <td><input class="input" type="text" name="Direccion_Usuario" [(ngModel)]="usuario.Direccion_Usuario"></td>
            <!-- <td>{{usuario.FechaCreacion_Usuario}}</td> -->
            <td>{{usuario.Password_Usuario}}</td>
            <td>{{usuario.Descripcion_Rol}}</td>
            <td>{{usuario.Descripcion_Estado}}</td>
            <td>
                <button class="btn btn-info" id="butMod" (click)="modificarUser(usuario)"> Modificar </button>
                <button class="btn btn-danger" id="butEli" (click)="eliminarUser(usuario.Numero_Usuario)"> Eliminar </button>
            </td>
        </tr>
    </tbody>
    <ng-template #fila>
        <tbody>
            <tr>
                <td colspan="4">No hay mas filas</td>
            </tr>
        </tbody>
    </ng-template>
</table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Admin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div *ngIf="!reintentar">
                    <div class="container">
                
                        <form (submit)=registrar()>
                
                            <input type="text" name="Numero_Usuario" [(ngModel)]="user.Numero_Usuario" placeholder="Numero Socio"
                                class="form-control" autofocus>
                            <div [ngSwitch]=" errorNumUs" >
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Numero de usuario muy largo</div>
                                <div *ngSwitchCase="3">El formato del usuario SOCIO debe comenzar con la letra S y finalizar con 5
                                    numeros
                                    max.
                                    EJ: S00001 .</div>
                            </div>
                            <input type="text" name="Nombre_Usuario" [(ngModel)]="user.Nombre_Usuario" placeholder="Nombre"
                                class="form-control">
                            <div [ngSwitch]="errorNombre">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Nombre muy largo</div>
                                <div *ngSwitchCase="3">Nombre debe ser alfabetico</div>
                            </div>
                            <input type="text" name="Apellido_Usuario"  [(ngModel)]="user.Apellido_Usuario" placeholder="Apellido"
                                class="form-control">
                            <div   [ngSwitch]="errorApellido">
                                <div *ngSwitchCase="1" >Debes completar el campo</div>
                                <div *ngSwitchCase="2">Apellido muy largo</div>
                                <div *ngSwitchCase="3">Apellido  debe ser alfabetico</div>
                            </div>
                            <input type="text" name="DNI_Usuario" [(ngModel)]="user.DNI_Usuario" placeholder="DNI" class="form-control">
                            <div [ngSwitch]="errorDNI">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">DNI muy largo</div>
                                <div *ngSwitchCase="3">DNI muy corto. Debe ser mayor a 1000000</div>
                                <div *ngSwitchCase="4">DNI debe ser Numerico</div>
                            </div>
                            <input type="text" name="Mail_Usuario" [(ngModel)]="user.Mail_Usuario" placeholder="Mail"
                                class="form-control">
                            <div [ngSwitch]="errorMail">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Email muy largo</div>
                                <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
                            </div>
                            <input type="text" name="Telefono_Usuario" [(ngModel)]="user.Telefono_Usuario" placeholder="Telefono"
                                class="form-control">
                            <div [ngSwitch]="errorTel">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Telefono muy largo</div>
                                <div *ngSwitchCase="3">Telefono muy corto</div>
                                <div *ngSwitchCase="4">El telefono debe ser Numerico. Ej: 1199887766 </div>
                            </div>
                            <input type="text" name="Direccion_Usuario" [(ngModel)]="user.Direccion_Usuario" placeholder="Direccion"
                                class="form-control">
                            <div [ngSwitch]="errorDirec">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">La direccion es muy larga</div>
                                <div *ngSwitchCase="3">La direccion debe ser formato nombre calle - altura. Ej: Calle falsa 123.</div>
                            </div>
                            <input type="password" name="Password_Usuario" [(ngModel)]="user.Password_Usuario" placeholder="Password"
                                class="form-control">
                            <div [ngSwitch]="errorPassword">
                                <div *ngSwitchCase="1">Debes completar el campo</div>
                                <div *ngSwitchCase="2">Contraseña muy larga</div>
                                <div *ngSwitchCase="3">Contraseña debe ser alfanumerica y admite mayusculas.</div>
                            </div>
                
                            <input type="hidden" name="Id_Rol" [(ngModel)]="user.Id_Rol" value="2" class="form-control">
                            <input type="hidden" name="Id_Estado" [(ngModel)]="user.Id_Estado" value="1" class="form-control">
                            <button class="btn btn-success btn-block" (click)="verificarForm()" data-bs-dismiss="modal">Enviar</button>
                        </form>
                    </div>
                </div>
                <div *ngIf="reintentar" class="card-body">
                    {{mensaje}} <br>
                    <button class="btn btn-info" (click)=recargarForm()>Reintentar</button>
                </div>
            </div>


            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn-guardar" data-bs-dismiss="modal">Crear</button>
            </div> -->
        </div>
    </div>
</div>