img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

  hr.solid {
    border-top: 3px solid #bbb;
  }


.container-fluid .box {
    width:100%;
    display:table;
}
.container-fluid .box .box-row {
    display:table-row;
}
.container-fluid .box .box-cell {
    display:table-cell;
    width:25%;
}

button{
  width: 50%;

}
thead{
  background-color: cadetblue;
}

div.modal-header {
  background-color: rgb(33, 46, 46);
  color: floralwhite;
}


label.titulo {
  font-weight: bold;
  text-decoration: underline;
}

label.custom-control-label {
  text-decoration: none;
}

.boton{
  margin-top: 8px;
  width: 25%;
}

button#butAgr {
  width: 100%;
  margin-bottom: 1%;
  margin-top: 2%;
}

div#divForm {
  margin-top: 1%;

}

button#butMod {
  width: 100%;
}

th#thprincipal {
  width: 16%;
}


table#tableprincipal {
  text-align: center;
}

input#modalinput {
  margin-bottom: 2%;
}

button#btnmodal {
  width: 100%;
}

/* app-footer{
  position: relative;
  bottom: -100px;

   width:100%;
   height:60px; 
}   */

