thead{
    background-color: cadetblue;
}

div.modal-header {
    background-color: rgb(33, 46, 46);
    color: floralwhite;
}

input, select {
    margin: 3px;
    border: black;
    border-width: 2px;
    border-style: solid;
}

label.titulo {
    font-weight: bold;
    text-decoration: underline;
}

label.custom-control-label {
    text-decoration: none;
}

.boton{
    margin-top: 8px;
    width: 25%;
}

button#butAgr {
   
    margin-bottom: 1%;
    border-radius: 10px;
   
 
    font-weight: bold;  border-color: green;  width: 30%; margin-left: 35%;
    margin-bottom: 1%;
    margin-top: 2%;
 
 }
 
 button#butAgr:hover{
    background-color: limegreen;
 }
 

button{
    width: 100%;
    margin-bottom: 2%;
}

div.container{
    width: 90%;
}
/* .tg {
    border-collapse:collapse;
    border-color:#bbb;
    border-spacing:0;
}
.tg td {
    background-color:#E0FFEB;
    border-color:#bbb;
    border-style:solid;
    border-width:0px;color:#594F4F;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    background-color:#9DE0AD;
    border-color:#bbb;
    border-style:solid;
    border-width:0px;
    color:#493F3F;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;padding:10px 5px;
    word-break:normal;
}
.tg .tg-0l6a{
    background-color:#C2FFD6;
    text-align:center;
    vertical-align:top
}
.tg .tg-rs8h{
    background-color:#2c5e38;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}
.tg .tg-0lax{
    text-align:left;
    vertical-align:top
} */
