<app-navigation></app-navigation>

<div class="container" style="margin-top: 5%;" >
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Foto">
                    </div>
                    <h5 class="user-name">{{usuarios.Nombre_Usuario}} {{usuarios.Apellido_Usuario}}</h5>
                    <h6 class="user-email">Numero Usuario: {{usuarios.Numero_Usuario}}</h6>
                    <h6 class="user-email">Mail: {{usuarios.Mail_Usuario}}</h6>
                    <h6 class="user-email">DNI: {{usuarios.DNI_Usuario}}</h6>
                    <h6 class="user-email">Telefono: {{usuarios.Telefono_Usuario}}</h6>
                    <h6 class="user-email">Direccion: {{usuarios.Direccion_Usuario}}</h6>
                    <h6 class="user-email">Fecha Inscripcion: {{usuarios.FechaCreacion_Usuario}}</h6>
                    <h6 class="user-email">Password: {{usuarios.Password_Usuario}}</h6>
                </div>
                <!-- <div class="about">
                    <h5>About</h5>
                    <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Personal Details</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="fullName">Nombre </label>
                        <input type="text" class="form-control" id="fullName" placeholder="Ingrese nuevo Nombre">
                    </div>
                    <div class="form-group">
                        <label for="fullName">Apellido </label>
                        <input type="text" class="form-control" id="fullName" placeholder="Ingrese nuevo Apellido">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="eMail">Mail</label>
                        <input type="email" class="form-control" id="eMail" placeholder="Ingrese nuevo mail">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Telefono</label>
                        <input type="text" class="form-control" id="phone" placeholder="Ingrese nuevo telefono">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="website">Password</label>
                        <input type="url" class="form-control" id="website" placeholder="Password">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="website">Direccion</label>
                        <input type="url" class="form-control" id="website" placeholder="Ingrese nueva direccion">
                    </div>
                </div>
            </div>

            <br>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                        <button type="button" id="submit" name="submit" class="btn btn-success">Modificar Datos</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <form action="">
                <input type="file" name="imagen" >
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
