<app-navigation></app-navigation>


<div class="container- fluid" id="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <button class="button" routerLink="../../admin/buscarSocio"><span>Socios </span></button>
        </div>
        <div class="col mb-4">
            <button class="button" routerLink="../../admin/buscarAdmin"><span>Admin </span></button>
        </div>
        <div class="col mb-4">
            <button class="button" routerLink="../../admin/buscarActividad"><span>Actividad </span></button>
        </div>
        <div class="col mb-4">
            <button class="button" routerLink="../../admin/buscarInstructor"><span>Instructor </span></button>
        </div>
        <div class="col mb-4">
            <button class="button" routerLink="../../admin/buscarClase"><span>Clases </span></button>
        </div>
        <div class="col mb-4">
            <button class="button" routerLink="../../admin/novedades"><span>Novedades </span></button>
        </div>
    </div>
</div>


<app-footer></app-footer>