.button {
  border-radius: 4px;
  background-color: whitesmoke;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 100%;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

div#container {
  border: 3px solid #f1f1f1;
  border-radius: 10PX;
  background-color: rgb(44, 94, 56);
  width: 80%;
  margin: auto;
  margin-top: 5%;
  padding: 3%;
}