<footer id="pie-pagina" class=" footer   " >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 social text-center"> 
        <label ><a href="https://es-la.facebook.com/FerroOficial/" class="face"><i class="fab fa-facebook-square"></i></a></label>
        <label ><a href="https://twitter.com/FerroOficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twi"><i class="fab fa-twitter"></i></a></label>
        <label ><a href="https://www.instagram.com/ferrooficial/?hl=es-la" class="ins"><i class="fab fa-instagram"></i></a></label>
        <label ><a href="https://www.google.com/search?q=ferro+carril+oeste+club&bih=754&biw=1536&rlz=1C1ALOY_esAR954AR954&hl=es&sxsrf=AOaemvJO8Z4JFGxI3-oR8-VsomWzGOjCkg%3A1633889744564&ei=0C1jYZXfIZnJ1sQPtp24yAg&gs_ssp=eJzj4tTP1TcwK0wrsTRg9BJPSy0qyldITiwqysxRyE8tLklVSM4pTQIA0NkMHA&oq=ferro+carril+oeste+club&gs_lcp=Cgdnd3Mtd2l6EAEYAzIHCC4QJxCTAjIFCAAQgAQyBQgAEIAEMgoILhCABBCHAhAUMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgcIABBHELADOgoILhCwAxBDEJMCSgQIQRgAUIAbWIAbYJcqaAFwAngAgAFtiAFtkgEDMC4xmAEAoAEByAEJwAEB&sclient=gws-wiz" class="goo"><i class="fab fa-google"></i></a></label>

     </div>
        <div class="col-sm-12  col-md-6 text-center "> 
            <p class="copy  text-center">
              Copyright &copy; CAFerrocarrilOeste.com.ar
            </p>
       </div>
      </div>
    </div>
  </footer>