thead{
    background-color: azure;
}

#butAgregar {
    margin: 20px;
}

.btn-info:hover{
    background-color: royalblue;
} 

table{
    border: black;
}

div.modal-header{
    background-color: rgb(33, 46, 46);
    color: floralwhite;
}