<app-navigation></app-navigation>


<!-- <table class="table table-dark table-striped">
    <thead >
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
    </thead>

    <tbody>

        <tr *ngFor=" let claseLu of clasesLu">
            <td>
                <tr>{{claseLu.Descripcion_Actividad}}</tr>
                <tr>{{claseLu.Comienzo_Horario}}</tr>
                <tr>{{claseLu.Finalizacion_Horario}}</tr>
                <tr><button class="btn btn-info"> Anotarme - Ver informacion </button></tr>
            </td>
        </tr>

        <tr *ngFor=" let claseMa of clasesMa">
            <td>
                <tr>{{claseMa.Descripcion_Actividad}}</tr>
                <tr>{{claseMa.Comienzo_Horario}}</tr>
                <tr>{{claseMa.Finalizacion_Horario}}</tr>
                <tr><button class="btn btn-info"> Anotarme - Ver informacion </button></tr>
            </td>
        </tr>

        <tr *ngFor=" let claseMi of clasesMi">
            <td>
                <tr>{{claseMi.Descripcion_Actividad}}</tr>
                <tr>{{claseMi.Comienzo_Horario}}</tr>
                <tr>{{claseMi.Finalizacion_Horario}}</tr>
                <tr><button class="btn btn-info"> Anotarme - Ver informacion </button></tr>
            </td>
        </tr>

        <tr *ngFor=" let claseJu of clasesJu">
            <td>
                <tr>{{claseJu.Descripcion_Actividad}}</tr>
                <tr>{{claseJu.Comienzo_Horario}}</tr>
                <tr>{{claseJu.Finalizacion_Horario}}</tr>
                <tr><button class="btn btn-info"> Anotarme - Ver informacion </button></tr>
            </td>
        </tr>

        <tr *ngFor=" let claseVi of clasesVi">
            <td>
                <tr>{{claseVi.Descripcion_Actividad}}</tr>
                <tr>{{claseVi.Comienzo_Horario}}</tr>
                <tr>{{claseVi.Finalizacion_Horario}}</tr>
                <tr><button class="btn btn-info"> Anotarme - Ver informacion </button></tr>
            </td>
        </tr>

        <tr *ngFor=" let claseSa of clasesSa">
            <td>
                <tr>{{claseSa.Descripcion_Actividad}}</tr>
                <tr>{{claseSa.Comienzo_Horario}}</tr>
                <tr>{{claseSa.Finalizacion_Horario}}</tr>
                <tr><button class="btn btn-info"> Anotarme - Ver informacion </button></tr>
            </td>
        </tr>

        <tr *ngFor=" let claseDo of clasesDo">
            <td>
                <tr>{{claseDo.Descripcion_Actividad}}</tr>
                <tr>{{claseDo.Comienzo_Horario}}</tr>
                <tr>{{claseDo.Finalizacion_Horario}}</tr>
                <tr><button class="btn btn-info"> Anotarme - Ver informacion </button></tr>
            </td>
        </tr>

    </tbody>

</table> -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<table>
  <thead>
    <tr>
      <th></th>
      <th>
        <span class="day">1</span>
        <span class="long">Monday</span>
        <span class="short">Mon</span>
      </th>
      <th>
        <span class="day">2</span>
        <span class="long">Tuesday</span>
        <span class="short">Tue</span>
      </th>
      <th>
        <span class="day">3</span>
        <span class="long">Wendsday</span>
        <span class="short">We</span>
      </th>
      <th>
        <span class="day">4</span>
        <span class="long">Thursday</span>
        <span class="short">Thur</span>
      </th>
      <th>
        <span class="day active">5</span>
        <span class="long">Friday</span>
        <span class="short">Fri</span>
      </th>
      <th>
        <span class="day">6</span>
        <span class="long">Saturday</span>
        <span class="short">Sat</span>
      </th>
      <th>
        <span class="day">7</span>
        <span class="long">Sunday</span>
        <span class="short">Sun</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hour" rowspan="4"><span>1:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>2:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <tr>
      <td class="hour" rowspan="4"><span>3:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>4:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>5:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>6:00</span></td>
      <td onclick="alert('test')"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>7:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>8:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>